*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 44.14px;
    cursor: pointer;
}
  
#head{
     box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2); 
}

.hero-img{
    width: 137.996px;
    height: 35.14px;
}

.hero-btn{
    padding: 10px;
    background-color:rgb(230, 91, 11);
    border-radius: 50px;
    border: 0;
    box-shadow: 2px 2px 1px lightblue;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

    


body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}

body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}



#themeToggle{
    padding: 10px;
    background-color: rgb(230, 91, 11);
    border-radius: 50px;
    border: 0;
    box-shadow: 2px 2px 1px lightblue;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.title{
    max-width: 715px;
}